dist/*
webpack/*
**/*.css
app/scripts/vendor.js
**/*-test.jsx

# The following files were added before we began linting.
# Gradually remove these files to enable linting for them,
# and eventually this section will be empty
#
app/scripts/actions/appActions.js
app/scripts/actions/authActions.js
app/scripts/actions/availableTourTimeActions.js
app/scripts/actions/buildingActions.js
app/scripts/actions/bundleActions.js
app/scripts/actions/contactInfoActions.js
app/scripts/actions/contractActions.js
app/scripts/actions/contractDetailActions.js
app/scripts/actions/discountActions.js
app/scripts/actions/discountReasonActions.js
app/scripts/actions/employeeActions.js
app/scripts/actions/initialTermActions.js
app/scripts/actions/interestActions.js
app/scripts/actions/journeyActions.js
app/scripts/actions/marketActions.js
app/scripts/actions/membershipSummaryActions.js
app/scripts/actions/membershipUpdateReasonOptionActions.js
app/scripts/actions/notificationActions.js
app/scripts/actions/officeActions.js
app/scripts/actions/pendingMoveInsActions.js
app/scripts/actions/pendingMoveOutsActions.js
app/scripts/actions/pendingReservationActions.js
app/scripts/actions/promotionActions.js
app/scripts/actions/reservationActions.js
app/scripts/actions/salesSessionActions.js
app/scripts/actions/setupFeeActions.js
app/scripts/actions/tourActions.js
app/scripts/actions/tourOutcomeActions.js
app/scripts/actions/tourOutcomeReasonActions.js
app/scripts/actions/transferDeltaActions.js
app/scripts/actions/userActions.js
app/scripts/actions/waitlistEntryActions.js
app/scripts/api/sales.js
app/scripts/api/spaceman.js
app/scripts/api/spacemoney.js
app/scripts/api/spacestation.js
app/scripts/api/weworkBase.js
app/scripts/components/avatar.jsx
app/scripts/components/buttons/base.jsx
app/scripts/components/buttons/dismiss.jsx
app/scripts/components/buttons/dropdown.jsx
app/scripts/components/buttons/login.jsx
app/scripts/components/buttons/menu.jsx
app/scripts/components/buttons/search.jsx
app/scripts/components/companies/authorizedSignatory.jsx
app/scripts/components/companies/companyName.jsx
app/scripts/components/companies/companyOfficeHolds.jsx
app/scripts/components/companies/detail.jsx
app/scripts/components/companies/edit.jsx
app/scripts/components/companies/title.jsx
app/scripts/components/contentArea.jsx
app/scripts/components/copyOnClick.jsx
app/scripts/components/filters/employeeFilter.jsx
app/scripts/components/filters/netverifyBuildingFilter.jsx
app/scripts/components/flag.jsx
app/scripts/components/forms/keycardForm/keycardEdit.jsx
app/scripts/components/forms/massUpload.jsx
app/scripts/components/header.jsx
app/scripts/components/hideable.jsx
app/scripts/components/highlight.jsx
app/scripts/components/icon.jsx
app/scripts/components/inputs/bases/autocomplete.jsx
app/scripts/components/inputs/bases/buttonCheckbox.jsx
app/scripts/components/inputs/bases/controllerButton.jsx
app/scripts/components/inputs/bases/datepicker.jsx
app/scripts/components/inputs/bases/dropDownMenu.jsx
app/scripts/components/inputs/bases/file.jsx
app/scripts/components/inputs/bases/formCheckbox.jsx
app/scripts/components/inputs/bases/formRadio.jsx
app/scripts/components/inputs/bases/hidden.jsx
app/scripts/components/inputs/bases/image.jsx
app/scripts/components/inputs/bases/numeric.jsx
app/scripts/components/inputs/bases/plasma/numberInput.jsx
app/scripts/components/inputs/bases/plasma/textInput.jsx
app/scripts/components/inputs/bases/radioButton.jsx
app/scripts/components/inputs/bases/readOnly.jsx
app/scripts/components/inputs/bases/search.jsx
app/scripts/components/inputs/bases/select.jsx
app/scripts/components/inputs/bases/singleSelect.jsx
app/scripts/components/inputs/bases/slider.jsx
app/scripts/components/inputs/bases/text.jsx
app/scripts/components/inputs/bases/textArea.jsx
app/scripts/components/inputs/baseSearchAutocomplete.jsx
app/scripts/components/inputs/building.jsx
app/scripts/components/inputs/companySearchAutocomplete.jsx
app/scripts/components/inputs/formControl.jsx
app/scripts/components/inputs/hint.jsx
app/scripts/components/inputs/initialTerm.jsx
app/scripts/components/inputs/label.jsx
app/scripts/components/inputs/location.jsx
app/scripts/components/inputs/market.jsx
app/scripts/components/inputs/memberSearchAutocomplete.jsx
app/scripts/components/inputs/occupancySearch.jsx
app/scripts/components/inputs/occupiables.jsx
app/scripts/components/inputs/office.jsx
app/scripts/components/inputs/officeCapacity.jsx
app/scripts/components/inputs/placeInterests.jsx
app/scripts/components/inputs/price.jsx
app/scripts/components/inputs/products.jsx
app/scripts/components/loading.jsx
app/scripts/components/locations/listItem.jsx
app/scripts/components/members/memberName.jsx
app/scripts/components/members/title.jsx
app/scripts/components/mixins/currency.js
app/scripts/components/mixins/focus.js
app/scripts/components/mixins/hover.js
app/scripts/components/mixins/intercom.js
app/scripts/components/mixins/interval.js
app/scripts/components/mixins/tour.js
app/scripts/components/modals/addMemberModal.jsx
app/scripts/components/modals/addOfficeModal.jsx
app/scripts/components/modals/addWaitlistEntryModal.jsx
app/scripts/components/modals/agreementNotesModal.jsx
app/scripts/components/modals/archiveOfficeModal.jsx
app/scripts/components/modals/assignSignatoryModal.jsx
app/scripts/components/modals/base.jsx
app/scripts/components/modals/bundleModal.jsx
app/scripts/components/modals/cancelWaiveModal.jsx
app/scripts/components/modals/changePrimaryMemberModal.jsx
app/scripts/components/modals/confirmManualVerificationModal.jsx
app/scripts/components/modals/confirmModal.jsx
app/scripts/components/modals/confirmNetverifyModal.jsx
app/scripts/components/modals/contractModal.jsx
app/scripts/components/modals/createAccessLevelModal.jsx
app/scripts/components/modals/createEmployeeModal.jsx
app/scripts/components/modals/deleteAccessLevelModal.jsx
app/scripts/components/modals/discountModal.jsx
app/scripts/components/modals/discountReasonModal.jsx
app/scripts/components/modals/dropOfficeModal.jsx
app/scripts/components/modals/editAppLocationModal.jsx
app/scripts/components/modals/editCompanyModal.jsx
app/scripts/components/modals/editEmployeeModal.jsx
app/scripts/components/modals/editHomeLocationModal.jsx
app/scripts/components/modals/editJourneyStageModal.jsx
app/scripts/components/modals/editKeycardModal.jsx
app/scripts/components/modals/editMemberModal.jsx
app/scripts/components/modals/editNetverifyBuildingModal.jsx
app/scripts/components/modals/editNoteModal.jsx
app/scripts/components/modals/editOfficeModal.jsx
app/scripts/components/modals/editWaitlistEntryModal.jsx
app/scripts/components/modals/manager.jsx
app/scripts/components/modals/manualVerificationModal.jsx
app/scripts/components/modals/netverifyModal.jsx
app/scripts/components/modals/officeHoldModal.jsx
app/scripts/components/modals/openDateModal.jsx
app/scripts/components/modals/permissionModal.jsx
app/scripts/components/modals/removeOfficeHoldModal.jsx
app/scripts/components/modals/replaceKeycardModal.jsx
app/scripts/components/modals/reservationActionsConfirmationModal.jsx
app/scripts/components/modals/reservations/moveInModal.jsx
app/scripts/components/modals/reservations/moveOutModal.jsx
app/scripts/components/modals/revokeEmployeeModal.jsx
app/scripts/components/modals/sales/createJourneyModal.jsx
app/scripts/components/modals/sales/editInterestModal.jsx
app/scripts/components/modals/takePhotoModal.jsx
app/scripts/components/modals/transferModal.jsx
app/scripts/components/modals/unarchiveOfficeModal.jsx
app/scripts/components/modals/updateAccessLevelModal.jsx
app/scripts/components/modals/viewMemberModal.jsx
app/scripts/components/pageTitle.jsx
app/scripts/components/permittable.jsx
app/scripts/components/promotionsList.jsx
app/scripts/components/sales/activity.jsx
app/scripts/components/sales/drawer.jsx
app/scripts/components/search/bar.jsx
app/scripts/components/search/result.jsx
app/scripts/components/search/results/companyResult.jsx
app/scripts/components/search/results/memberResult.jsx
app/scripts/components/search/results.jsx
app/scripts/components/search/resultSet.jsx
app/scripts/components/search.jsx
app/scripts/components/section.jsx
app/scripts/components/string.jsx
app/scripts/components/tables/base.jsx
app/scripts/components/tables/cellTriangle.jsx
app/scripts/components/tables/employeesTable.jsx
app/scripts/components/tables/header.jsx
app/scripts/components/tables/membersTable.jsx
app/scripts/components/tables/netverifyBuildingsTable.jsx
app/scripts/components/tables/officeMassUploadErrorTable.jsx
app/scripts/components/tables/officeMassUploadTable.jsx
app/scripts/components/tables/officesTable.jsx
app/scripts/components/tables/openDateTable.jsx
app/scripts/components/tables/reservationsTable.jsx
app/scripts/components/tables/resourceReservationTable.jsx
app/scripts/components/tables/roomsReservationsTable.jsx
app/scripts/components/tables/row.jsx
app/scripts/components/tables/voidedPaperworkTable.jsx
app/scripts/components/tooltip.jsx
app/scripts/components/trackable.jsx
app/scripts/components/weworkLogo.jsx
app/scripts/config.js
app/scripts/lib/algoliaClient.js
app/scripts/lib/currencyMap.js
app/scripts/lib/getVersion.js
app/scripts/lib/membershipTypes.js
app/scripts/lib/officeCapacitiesOptions.js
app/scripts/lib/officeOptions.js
app/scripts/lib/permissions.js
app/scripts/lib/pluralizer.js
app/scripts/lib/specialRequestOptions.js
app/scripts/lib/util.js
app/scripts/lib/validators.js
app/scripts/main.js
app/scripts/media.js
app/scripts/pages/accessControl/accessMassUpload.jsx
app/scripts/pages/app.jsx
app/scripts/pages/companies/index.jsx
app/scripts/pages/companies/reservations/index.jsx
app/scripts/pages/companies/show.jsx
app/scripts/pages/company.jsx
app/scripts/pages/employees.jsx
app/scripts/pages/loading.jsx
app/scripts/pages/location.jsx
app/scripts/pages/locations/members/filter.jsx
app/scripts/pages/locations/members/index.jsx
app/scripts/pages/locations/members/table.jsx
app/scripts/pages/locations/offices.jsx
app/scripts/pages/locations/salesPipeline/index.jsx
app/scripts/pages/locations/salesPipeline/table.jsx
app/scripts/pages/locations/tours/index.jsx
app/scripts/pages/locations/tours/modals/assign.jsx
app/scripts/pages/locations/tours/modals/cancelTour.jsx
app/scripts/pages/locations/tours/modals/checkIn.jsx
app/scripts/pages/locations/tours/modals/index.jsx
app/scripts/pages/locations/tours/modals/newTour.jsx
app/scripts/pages/locations/tours/modals/noShow.jsx
app/scripts/pages/locations/tours/modals/outcome.jsx
app/scripts/pages/locations/tours/modals/reschedule.jsx
app/scripts/pages/locations/tours/modals/updateBuildingEntranceInstructions.jsx
app/scripts/pages/locations/waitlist/filter.jsx
app/scripts/pages/locations/waitlist/index.jsx
app/scripts/pages/locations/waitlist/table.jsx
app/scripts/pages/locations.jsx
app/scripts/pages/login.jsx
app/scripts/pages/member.jsx
app/scripts/pages/netverifyBuildings/index.jsx
app/scripts/pages/netverifyResponse.jsx
app/scripts/pages/notFound.jsx
app/scripts/pages/offices/massUpload.jsx
app/scripts/pages/offices/massUploadReview.jsx
app/scripts/pages/shared/authenticated.js
app/scripts/pages/unauthorized.jsx
app/scripts/pages/upgrade.jsx
app/scripts/redux/configureStore.js
app/scripts/redux/constants.js
app/scripts/redux/errors.js
app/scripts/redux/middlewares/persistToLocalStorage.js
app/scripts/redux/modules/accounts.js
app/scripts/redux/modules/analytics.js
app/scripts/redux/modules/auth.js
app/scripts/redux/modules/buildings.js
app/scripts/redux/modules/contracts.jsx
app/scripts/redux/modules/expiredContracts.jsx
app/scripts/redux/modules/locations.js
app/scripts/redux/modules/members.js
app/scripts/redux/modules/occupancies.jsx
app/scripts/redux/modules/openDates.js
app/scripts/redux/modules/page.js
app/scripts/redux/modules/permissions.js
app/scripts/redux/modules/primaryReservations.js
app/scripts/redux/modules/reservations.js
app/scripts/redux/modules/resourceGroups.jsx
app/scripts/redux/modules/resources.jsx
app/scripts/redux/modules/waiveRequests.js
app/scripts/redux/selectors.js
app/scripts/redux/util.js
app/scripts/routes.js
app/scripts/stores/authStore.js
app/scripts/stores/availableOfficesByLocationStore.js
app/scripts/stores/availableRolesStore.js
app/scripts/stores/availableTourTimesStore.js
app/scripts/stores/buildingStore.js
app/scripts/stores/bundlesByLocationStore.js
app/scripts/stores/bundleStore.js
app/scripts/stores/combinedSetupFeeAndDiscountsStore.js
app/scripts/stores/contactInfoStore.js
app/scripts/stores/contractDetailsStore.js
app/scripts/stores/contractsByLocationStore.js
app/scripts/stores/contractsStore.js
app/scripts/stores/discountReasonStore.js
app/scripts/stores/discountsStore.js
app/scripts/stores/editedDiscountsStore.js
app/scripts/stores/employeeFilterStore.js
app/scripts/stores/employeesStore.js
app/scripts/stores/filteredEmployeesStore.js
app/scripts/stores/filteredOccupanciesStore.js
app/scripts/stores/initialTermStore.js
app/scripts/stores/journeysStore.js
app/scripts/stores/journeyStore.js
app/scripts/stores/marketsStore.js
app/scripts/stores/membershipSummaryStore.js
app/scripts/stores/membershipUpdateReasonOptionsStore.js
app/scripts/stores/notificationsStore.js
app/scripts/stores/occupanciesStore.js
app/scripts/stores/occupancyFilterStore.js
app/scripts/stores/officesByLocationStore.js
app/scripts/stores/officesStore.js
app/scripts/stores/pageTitleStore.js
app/scripts/stores/pendingMoveInsByContractStore.js
app/scripts/stores/pendingMoveInsStore.js
app/scripts/stores/pendingMoveOutsStore.js
app/scripts/stores/pendingReservationsStore.js
app/scripts/stores/primaryReservationsStore.js
app/scripts/stores/promotionsAvailabilityStore.js
app/scripts/stores/promotionStore.js
app/scripts/stores/rolesStore.js
app/scripts/stores/salesSessionStore.js
app/scripts/stores/setupFeeStore.js
app/scripts/stores/tourOutcomeReasonStore.js
app/scripts/stores/tourOutcomeStore.js
app/scripts/stores/transferDeltaStore.js
app/scripts/stores/usersStore.js
app/scripts/stores/waitlistEntryStore.js
app/scripts/stubs/spacestationStubs.js
app/scripts/styles/buttons.js
app/scripts/styles/colors.js
app/scripts/styles/dropdowns.js
app/scripts/styles/form.js
app/scripts/styles/inputs.js
